CURRENT_PROJECT_VERSION = 1
ENABLE_OUTGOING_NETWORK_CONNECTIONS = YES
ENABLE_USER_SELECTED_FILES = readonly
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(inherited) @executable_path/../Frameworks
MARKETING_VERSION = 1.0
SKIP_INSTALL = NO
